<section class="home">
  <div class="titlesHome">
    <h1 class="titlesHome__h1">Agregar nuevo item</h1>
  </div>
  <app-searcher
    categorie="películas y series"
    (buscar)="SearchInParent($event)"
  ></app-searcher>
  <div class="categories">
    <ul class="categories__list">
      <li
        [ngClass]="
          filter == 'Todos' ? 'categories__item--active' : 'categories__item'
        "
        (click)="OnClickAll()"
      >
        Todos
      </li>
      <li
        [ngClass]="
          filter == 'Películas'
            ? 'categories__item--active'
            : 'categories__item'
        "
        (click)="OnClickMovies()"
      >
        Películas
      </li>
      <li
        [ngClass]="
          filter == 'Series' ? 'categories__item--active' : 'categories__item'
        "
        (click)="OnClickShows()"
      >
        Series
      </li>
    </ul>
  </div>
  <h3 class="selectedCategorie">
    {{ filter }}
    <span class="selectedCategorie__spanQuantity">({{ quantity }})</span>
  </h3>
  <div class="cardsConteiner">
    <ng-container *ngIf="filter == 'Todos'">
      <ng-container *ngFor="let film of moviesSeriesApi_toShow">
        <!-- Dentro de la app-card se revisa si tiene la dirección de una imagen en poster_path para no mostrar algún ítem sin imagen  -->
        <app-card
          *ngIf="film.poster_path"
          img="{{ film.poster_path }}"
          name="{{ film.name || film.title }}"
          [rating]="film.vote_average"
          [id]="film.id"
          [mediaType]="film.media_type"
          [added]="film.added || false"
          idGlobal="{{ film.idGlobal }}"
        ></app-card>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="filter == 'Películas' || filter == 'Series'">
      <ng-container *ngFor="let film of moviesSeriesApi_toShow">
        <!-- Dentro de la app-card se revisa si tiene la dirección de una imagen en poster_path para no mostrar algún ítem sin imagen  -->
        <app-card
          *ngIf="film.poster_path"
          img="{{ film.poster_path }}"
          name="{{ film.name || film.title }}"
          [rating]="film.vote_average"
          [id]="film.id"
          [mediaType]="mediaType"
          [added]="film.added || false"
          idGlobal="{{ film.idGlobal }}"
        ></app-card>
      </ng-container>
    </ng-container>
  </div>
  <div class="pagination">
    <svg
      (click)="onClickLeftArrowPagination()"
      class="pagination__arrow"
      width="44"
      height="33"
      viewBox="0 0 29 32"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M3.25596 11.7628L20.78 0.76797C24.0968 -1.31283 28.4 1.07957 28.4 5.00517V26.9948C28.4 30.92 24.0968 33.3128 20.78 31.232L3.25596 20.2372C0.136359 18.2796 0.136359 13.7204 3.25596 11.7628Z"
        fill="#7B6EF6"
      />
    </svg>
    <div class="pagination__container">
      <div
        class="pagination__numbers"
        [ngStyle]="{
          left: arrowPagination > 1 ? translatePaginationString : '0px'
        }"
      >
        <ng-container *ngFor="let number of numbersPages">
          <p
            class="pagination__cell"
            [ngClass]="number == pageSelected ? 'pagination__cellActive' : ''"
            (click)="onClickPage(number)"
          >
            {{ number }}
          </p>
        </ng-container>
      </div>
    </div>
    <svg
      (click)="onClickRightArrowPagination()"
      class="pagination__arrow"
      width="44"
      height="33"
      viewBox="0 0 29 32"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M25.744 11.7628L8.21998 0.76797C4.90318 -1.31283 0.599976 1.07957 0.599976 5.00517V26.9948C0.599976 30.92 4.90318 33.3128 8.21998 31.232L25.744 20.2372C28.8636 18.2796 28.8636 13.7204 25.744 11.7628Z"
        fill="#7B6EF6"
      />
    </svg>
  </div>
</section>
