nav {
  position: relative;
  height: 48px;
  display: flex;
  align-items: center;
}
.darkMode {
  display: flex;
  justify-content: center;
  width: 40px;
  margin-left: 40px;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}
.darkMode__container {
  display: flex;
  height: 36px;
  justify-content: center;
  background-color: var(--Primary-900);
  border-radius: 10px;
  border: solid 1px var(--Primary-800);
  box-shadow: 0 0 4px var(--Primary-800), 0 0 7px var(--Secondary-800);
  transition: all 0.6s ease-in-out;
  overflow: hidden;
}
.darkModeButton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 17px;
  width: 17px;
  transition: all 0.6s ease-in-out;
}
.darkMode__purpleBall,
.darkMode__blueBall {
  border-radius: 10px;
  transition: all 0.6s ease-in-out;
}
.darkMode__purpleBall {
  position: absolute;
  width: 11px;
  height: 11px;
  z-index: 10;
  background: linear-gradient(
    to left,
    var(--Primary-400) 50%,
    var(--Secondary-400) 50%
  );
}
.darkMode__blueBall {
  width: 17px;
  height: 17px;
  background: linear-gradient(
    to left,
    var(--Secondary-400) 50%,
    var(--Primary-400) 50%
  );
}
/* @keyframes changePurple {
  0% {
    z-index: 10;
    top: 0;
  }

  100% {
    z-index: 5;
    top: auto;
    bottom: 0;
  }
}
@keyframes changeBlue {
  0% {
    z-index: 5;
    top: auto;
    bottom: 0;
  }

  100% {
    z-index: 5;
    top: 0;
    bottom: auto;
  }
} */
.darkModeButton--false {
  transform: translate(0, 17px);
}
.darkMode__purpleBall--false {
  transform: rotateZ(180deg);
}
.darkMode__blueBall--false {
  transform: rotateZ(-180deg);
}
.navList {
  width: 382px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}
.navList__a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: var(--Grey-200);
  padding: 12px 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
  transition: var(--transition);
}
.navList__a:hover {
  color: var(--Warning-500);
}
.navList__a--padding {
  padding: 12px 32px;
}
.navList__arrow {
  margin: 0px 0px 0px 8px;
  font-size: 20px;
  line-height: 24px;
}
.navList__goOut {
  margin: 0px 8px 0px 0px;
  font-size: 21px;
  line-height: 24px;
}
/* boton darkMode */
.btnDark {
  width: 25px;
  height: 25px;
  background-color: indigo;
  cursor: pointer;
}
