.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
  margin-bottom: 24px;
  width: 282px;
  background: var(--Grey-800-80);
  backdrop-filter: blur(80px);
  border-radius: 12px;
  border: none;
  transition: var(--transition);
}
.card:hover .card__img {
  transform: scale(1.025);
}
.card:hover {
  background: var(--Grey-600-80);
  box-shadow: var(--box-shadow);
}
.card:hover .card__movieName {
  color: var(--Warning-500);
}
.card__a {
  text-decoration: none;
}
.card__img {
  width: 266px;
  height: 400px;
  border-radius: 8px;
  transition: var(--transition);
}
.card__imgContainer {
  position: relative;
  width: 266px;
  height: 400px;
  overflow: hidden;
}
.ratingButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4px 8px;
  position: absolute;

  height: 40px;
  left: 8px;
  top: 10px;
  background: var(--Black-65);
  backdrop-filter: blur(8px);
  border-radius: 8px;
}
.ratingButton__starIco {
  margin-right: 4px;
  font-size: 22px;
  font-weight: 600;
  line-height: 16px;
  padding-bottom: 2px;
  color: var(--Warning-500);
}
.ratingButton__value {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--Warning-500);
  margin: 0;
  padding-top: 2px;
}
.card__infoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
  margin: 16px 0px 8px;
}
.card__movieName {
  font-style: normal;
  font-weight: 600; /*visualmente queda mejor con un valor de 500 - visualmente queda igual al prototipo en figma con 500*/
  font-size: 16px;
  margin: 0;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--Grey-50);
  transition: var(--transition);
}
.addToList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  height: 24px;
  margin: 16px 0 0 0;
}
.addToList__ico {
  /* width: 24px;
  height: 24px; */
  font-size: 34px;
  line-height: 24px;
  font-weight: 600;
  font-style: normal;
  padding-bottom: 4px;
  color: var(--Primary-400);
  margin-right: 8px;
}
.addToList__text {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  letter-spacing: 0.045em; /* el original de figma es 0,02em - se cambio a 0,045 em por que la medida original visualmente no daba los MoviesSeriesActorsados esperados */
  color: var(--Primary-400);
}
.addToList__text--success {
  color: var(--Success-400);
  font-weight: 400;
}
