<div class="titles">
  <p class="titles__appName">PelisUp!</p>
  <h1 class="titles__categorieName">Series</h1>
</div>
<app-searcher
  categorie="Series"
  (buscar)="SearchInParent($event)"
></app-searcher>

<p class="quantity">{{ quantity }} items</p>
<div class="cardsConteiner">
  <app-card
    *ngFor="let film of moviesSeriesApi_toShow"
    img="{{ film.poster_path }}"
    name="{{ film.name || film.title }}"
    [rating]="film.vote_average"
    [id]="film.id"
    [mediaType]="mediaType"
  ></app-card>
</div>
