.titles__appName {
  position: relative;
  margin: 144px 0 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: var(--Primary-200);
}
.titles__categorieName {
  display: inline-block;
  margin: 0;
  color: var(--Grey-50);
}
.quantity {
  margin: 48px 0 24px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--Grey-400);
}
.cardsConteiner {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.pagination {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.pagination__container {
  padding: 3px;
  overflow-x: hidden;
  max-width: 573px;
  width: 100%;
}
.pagination__arrow {
  padding: 4px 11px;
  cursor: pointer;
  flex-shrink: 0;
}
.pagination__arrow:hover path {
  fill: var(--Warning-400);
}
.pagination__numbers {
  position: relative;
  display: flex;
  transition: var(--transition);
}
.pagination__cell {
  flex-shrink: 0;
  width: 38px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--Grey-500);
  padding: 5px 10px;
  text-align: center;
  box-shadow: 0 0 3px #61697f50;
  border-radius: 3px;
  cursor: pointer;
}
.pagination__cell:hover {
  color: var(--Warning-400);
  box-shadow: 0 0 4px #ffbd6da2;
}
.pagination__cellActive {
  color: var(--Warning-400);
  box-shadow: 0 0 4px #ffbd6da2;
}
@media (max-width: 992px) {
  .cardsConteiner {
    justify-content: space-evenly;
  }
  .pagination__cell {
    width: 37px;
  }
}
@media (max-width: 576px) {
  .pagination__arrow {
    padding: 4px;
  }
  .pagination__cell {
    width: 34px;
    font-size: 13px;
    line-height: 23px;
    padding: 5px 9px;
  }
}
