<div class="titles">
  <p class="titles__appName">PelisUp!</p>
  <h1 class="titles__categorieName">Series</h1>
</div>
<app-searcher
  categorie="Series"
  (buscar)="SearchInParent($event)"
></app-searcher>

<p class="quantity">{{ quantity }} items</p>
<div class="cardsConteiner">
  <ng-container *ngFor="let film of moviesSeriesApi_toShow">
    <!-- Dentro de la app-card se revisa si tiene la dirección de una imagen en poster_path para no mostrar algún ítem sin imagen  -->
    <app-card
      *ngIf="film.poster_path"
      img="{{ film.poster_path }}"
      name="{{ film.name || film.title }}"
      [rating]="film.vote_average"
      [id]="film.id"
      [mediaType]="mediaType"
    ></app-card>
  </ng-container>
</div>
