<section class="home">
  <div class="titlesHome">
    <h1 class="titlesHome__h1">PelisUP!</h1>
    <h3 class="titlesHome__h3">Plataforma para ver películas y series 😉</h3>
  </div>
  <app-searcher categorie="películas y series"></app-searcher>
  <div class="categories">
    <ul class="categories__list">
      <li
        class="categories__item categories__item--active"
        (click)="OnClickCategorie($event); OnClickAll()"
      >
        Todos
      </li>
      <li
        class="categories__item"
        (click)="OnClickCategorie($event); OnClickMovies()"
      >
        Películas
      </li>
      <li
        class="categories__item"
        (click)="OnClickCategorie($event); OnClickShows()"
      >
        Series
      </li>
    </ul>
  </div>
  <h3 class="selectedCategorie">
    Todos <span class="selectedCategorie__spanQuantity">(120)</span>
  </h3>
  <!-- <div class="cardContainer">
    <app-card img="BlackWidow.jpg" name="Black Widow" [rating]="6.8"></app-card>
    <app-card img="ShangChi.jpg" name="ShangChi" [rating]="7.9"></app-card>
    <app-card img="Loki.jpg" name="Loki" [rating]="8.4"></app-card>
    <app-card
      img="HowIMetYourMother.jpg"
      name="How I Met Your Mother"
      [rating]="8.3"
    ></app-card>
    <app-card img="MoneyHeist.jpg" name="Money Heist" [rating]="8.3"></app-card>
    <app-card img="Friends.jpg" name="Friends" [rating]="8.8"></app-card>
    <app-card
      img="BigBangTheory.jpg"
      name="The Big Bang Theory"
      [rating]="8.1"
    ></app-card>
    <app-card
      img="TwoAndAHalfMen.jpg"
      name="Two And a Half Men"
      [rating]="7"
    ></app-card>
  </div> -->
  <app-cards-conteiner
    filterCategorie="{{ selectedCategorie }}"
  ></app-cards-conteiner>
</section>
