<div class="burgerButton" (click)="ToogleBtnFlag()">
  <span
    class="burgerButton__lines"
    [ngClass]="btnFlag ? 'burgerButton__lines--active' : ''"
  >
    <span
      class="burgerButton__lines burgerButton__lines--top"
      [ngClass]="btnFlag ? 'burgerButton__lines--topActive' : ''"
    >
    </span>
    <span
      class="burgerButton__lines burgerButton__lines--bottom"
      [ngClass]="btnFlag ? 'burgerButton__lines--bottomActive' : ''"
    >
    </span>
  </span>
</div>
<ul
  class="burgerButton__list"
  [ngClass]="
    btnFlag ? 'burgerButton__list--active' : 'burgerButton__list--desactive'
  "
>
  <li class="burgerButton__items">
    <a class="burgerButton__link" routerLink="peliculas">Películas</a>
  </li>
  <li class="burgerButton__items">
    <a class="burgerButton__link" routerLink="series">Series</a>
  </li>
  <li class="burgerButton__items">
    <a class="burgerButton__link" routerLink="login">Ingresar</a>
  </li>
</ul>
