<section class="cover">
  <img
    src="https://image.tmdb.org/t/p/original{{
      movieToShow.backdrop_path || serieToShow.backdrop_path
    }}"
    alt="portada de la pelicula {{ movieToShow.title || serieToShow.name }}"
    class="cover__img"
  />
  <div class="cover__nameContainer">
    <div class="cover__route">
      <a href="" class="cover__routeLink">PelisUp!</a>
      <a *ngIf="mediaType == 'movie'" href="" class="cover__routeLink"
        >Películas</a
      >
      <a *ngIf="mediaType == 'tv'" href="" class="cover__routeLink">Series</a>
    </div>
    <h3 class="cover__name">{{ movieToShow.title || serieToShow.name }}</h3>
  </div>
  <div class="info">
    <img
      src="https://image.tmdb.org/t/p/w500{{
        movieToShow.poster_path || serieToShow.poster_path
      }}"
      alt="portada de la pelicula {{ movieToShow.title || serieToShow.name }}"
      class="info__img"
    />
    <div class="info__details">
      <h4 class="info__tagline">
        {{ movieToShow.tagline || serieToShow.tagline }}
      </h4>
    </div>
  </div>
</section>
