<section class="home">
  <div class="titlesHome">
    <h1 class="titlesHome__h1">PelisUP!</h1>
    <h3 class="titlesHome__h3">Plataforma para ver películas y series 😉</h3>
  </div>
  <app-searcher
    categorie="películas y series"
    (buscar)="SearchInParent($event)"
  ></app-searcher>
  <div class="categories">
    <ul class="categories__list">
      <li
        [ngClass]="
          filter == 'Todos' ? 'categories__item--active' : 'categories__item'
        "
        (click)="OnClickAll()"
      >
        Todos
      </li>
      <li
        [ngClass]="
          filter == 'Películas'
            ? 'categories__item--active'
            : 'categories__item'
        "
        (click)="OnClickMovies()"
      >
        Películas
      </li>
      <li
        [ngClass]="
          filter == 'Series' ? 'categories__item--active' : 'categories__item'
        "
        (click)="OnClickShows()"
      >
        Series
      </li>
    </ul>
  </div>
  <h3 class="selectedCategorie">
    {{ filter }}
    <span class="selectedCategorie__spanQuantity">({{ quantity }})</span>
  </h3>
  <div class="cardsConteiner">
    <ng-container *ngIf="filter == 'Todos'">
      <ng-container *ngFor="let film of moviesSeriesApi_toShow">
        <!-- Dentro de la app-card se revisa si tiene la dirección de una imagen en poster_path para no mostrar algún ítem sin imagen  -->
        <app-card
          *ngIf="film.poster_path"
          img="{{ film.poster_path }}"
          name="{{ film.name || film.title }}"
          [rating]="film.vote_average"
          [id]="film.id"
          [mediaType]="film.media_type"
        ></app-card>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="filter == 'Películas' || filter == 'Series'">
      <ng-container *ngFor="let film of moviesSeriesApi_toShow">
        <!-- Dentro de la app-card se revisa si tiene la dirección de una imagen en poster_path para no mostrar algún ítem sin imagen  -->
        <app-card
          *ngIf="film.poster_path"
          img="{{ film.poster_path }}"
          name="{{ film.name || film.title }}"
          [rating]="film.vote_average"
          [id]="film.id"
          [mediaType]="mediaType"
        ></app-card>
      </ng-container>
    </ng-container>
  </div>
</section>
