<section class="home">
  <div class="titlesHome">
    <h1 class="titlesHome__h1">PelisUP!</h1>
    <h3 class="titlesHome__h3">Plataforma para ver películas y series 😉</h3>
  </div>
  <app-searcher categorie="películas y series"></app-searcher>
  <div class="categories">
    <ul class="categories__list">
      <li
        class="categories__item categories__item--active"
        (click)="OnClickCategorie($event); OnClickAll()"
      >
        Todos
      </li>
      <li
        class="categories__item"
        (click)="OnClickCategorie($event); OnClickMovies()"
      >
        Películas
      </li>
      <li
        class="categories__item"
        (click)="OnClickCategorie($event); OnClickShows()"
      >
        Series
      </li>
    </ul>
  </div>
  <h3 class="selectedCategorie">
    {{ selectedCategorie }}
    <span class="selectedCategorie__spanQuantity">({{ quantity }})</span>
  </h3>
  <app-cards-conteiner></app-cards-conteiner>
</section>
