<section class="home">
  <div class="titlesHome">
    <h1 class="titlesHome__h1">PelisUP!</h1>
    <h3 class="titlesHome__h3">Plataforma para ver películas y series 😉</h3>
  </div>
  <app-searcher categorie="películas y series"></app-searcher>
  <div class="categories">
    <ul class="categories__list">
      <li
        [ngClass]="
          filter == 'todos' ? 'categories__item--active' : 'categories__item'
        "
        (click)="OnClickAll()"
      >
        Todos
      </li>
      <li
        [ngClass]="
          filter == 'pelicula' ? 'categories__item--active' : 'categories__item'
        "
        (click)="OnClickMovies()"
      >
        Películas
      </li>
      <li
        [ngClass]="
          filter == 'serie' ? 'categories__item--active' : 'categories__item'
        "
        (click)="OnClickShows()"
      >
        Series
      </li>
    </ul>
  </div>
  <h3 class="selectedCategorie">
    {{ selectedCategorie }}
    <span class="selectedCategorie__spanQuantity">({{ quantity }})</span>
  </h3>
  <div class="cardsConteiner">
    <ng-container *ngFor="let film of movies_series">
      <app-card
        *ngIf="filter == film.category"
        img="{{ film.image }}"
        name="{{ film.name }}"
        [rating]="film.rating"
      ></app-card>
      <app-card
        *ngIf="filter == 'todos'"
        img="{{ film.image }}"
        name="{{ film.name }}"
        [rating]="film.rating"
      ></app-card>
    </ng-container>
  </div>
</section>
